body {
    background-color: #F3F1FF;
    font-family: sans-serif;
    font-weight: 550;
}


/* top player section styles starts here */

.players-section {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}

.section-title {
    color: #562EFF;
    font-size: 24px;
    font-weight: 500;
    margin-top: -28px;
}

.container {
    background: white;
    padding: 30px;
    /* height: 679px; */
    width: 870px;
    /* left: 285px;
    top: 130px; */
    border-radius: 5px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    margin-bottom: 20px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    height: 56px;
    width: 56px;
}

.player-name {
    margin-left: 16px;
    font-size: 18px;
    text-transform: capitalize;
}

hr {
    border: 1px solid #D1D1D1;
    margin-bottom: 60px;
}

/* player section styles ends here */



/* top blog section starts here */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}

article {
    display: flex;
}

.blog-img img {
    height: 117px;
    width: 177px;
}

/* .top-blog-title {
    color: #562EFF;
    font-size: 2px;
    font-weight: 500;
    margin-top: -28px;
} */
.blog-info {
    margin-left: 16px;
}

/* top blog section ends here */



/* course section starts here */
.courses {
    display: flex;
    justify-content: space-between;
}

.course-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.course-img img {
    height: 104px;
    width: 224px;
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-star.filled {
    color: #FFC014;
    font-size: 12px;
}

.fa-star.empty {
    color: #AEAEAE;
    font-size: 12px;
}



/* course section ends here */





/* media query starts*/

@media screen and (max-width:688px) {
    .container {
        width: 100%;
    }

    .players,
    .blogs {

        grid-template-columns: 1fr;
        /* width: 100%; */
        /* border: 2px solid red; */
    }


    .courses {
        flex-direction: column;
    }

    article {
        flex-direction: column;
    }

    .blog-info {
        margin-top: 10px;
        margin-left: 0;
        line-height: 7px;
    }



}

/* tablet devices */

@media screen and (min-width:688px) and (max-width:992px) {
    .container {
        width: 100%;
    }

    .players {

        grid-template-columns: repeat(2, 1fr);
    }

    .courses {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* media query ends*/